@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    font-family:Poppins;
}
p.a{
    text-align: justify;
    font-size: 14px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

img{
    cursor: pointer;
}

/* Header */

.container{
    margin: auto;
    background: #D3CE3D;
    padding: 10px;
    border: solid 1px black;
}
.logo{
    display: flex;
    background-color: #FFEEAD;
    border: solid 1px #fff;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    padding: 1px;
}
.logo img{
    padding-right: 5px;
}
.p-header{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}
.p-header img{
    width: 20px;
    cursor: pointer;
}
.s-header ul{
    display: flex;
    justify-content: space-between;
    margin: 10px 100px 0px 100px;
    font-size: 13px;
    
 }
.s-header img{
    width: 25px;
    justify-content: space-between;
}
.s-header ul li{
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    color: #777777;
}
h3{
    padding-top: 20px;
    margin-left: 50px;
}
p.b{
    margin-left: 40px;
    padding: 10px;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
    color: #8C8C8C;
}
.container2{
    margin-left: 50px;
    padding: 20px;
    width: 450px;
    margin-top: 5px;
    background-color: #EBEBEB;
}
p.c{
    color: #CECACA;
}
p.d{
    margin-left: 40px;
    padding: 10px;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 15px;
    color: #8C8C8C;
}
.container3{
    margin-left: 50px;
    padding: 20px;
    width: 450px;
    margin-top: 5px;
    background-color: #EBEBEB;
}
p.e{
    color: #CECACA;    
}

.footer{
    display: flex;
    margin: auto;
    height: 160px;
    background: #D3CE3D;
   
    border: solid 1px black;
}
.p-footer img{
    width: 25px;
    justify-content: space-between;
}
.p-footer ul{
    display: flex;
    justify-content: space-between;
    margin: center;
   
}
.p-footer ul li{
    display: flex;
    font-size: 12px;
    margin-top: 15px;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 220px;
}
p.f{
    font-size: 10px;
    line-height: 10px;
    margin-left: 255px;
    margin-top: 26px;
    text-align-last: center;
}
p.g{
    font-size: 10px;
    margin-left: 450px;
    margin-top: 35px;
}
   