/* Pre-Formatacao do Código*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family:Poppins;
}

p {
    line-height:1.6;
    text-align: justify;
    font-size: 14px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img{
    cursor: pointer;
}

/* Header */

.container{
    margin: auto;
    background: #D3CE3D;
    padding: 10px;
    
}

.logo{
    display: flex;
    background-color: #FFEEAD;
    border: solid 1px #fff;
    border-radius:10px;
    align-items: center;
    padding: 1px;
    cursor: pointer;
}

.logo img{
    padding-right: 5px;

}

.container input{
    padding: 10px;
    width:700px;
    border: solid 1px #cecece;
    border-radius: 10px;
    background-color: #FFEEAD;
    
}

.p-header{
    display: flex;
    justify-content:space-between;
}

.p-header img {

    width: 20px;
    cursor: pointer;

}

#carrinho{
    width: 30px;
}

.s-header ul{
    display: flex;
    justify-content:space-around;
    margin: 10px 100px 0px 100px;
    
}

li{
    cursor: pointer;
    
    color: #000000;
}

/* Section - Navigation */
#FFAD60

.p1-section{
    position: absolute;
    display: flex;
    flex-direction:inherit;
    margin: 0px;
    padding: 0px;
    height: 120vh;
    width: 100vw;
    background:linear-gradient(72deg,#fff 1%,#cecece 99%)

}

.p-section{
    height:600px;
    width: 800px;
    overflow: hidden;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50% );
    border-radius: 10px;
    

}


/* Section */

section{
    background: #fff;
}
.slider{
    height: 290px;
    width: 1015px;
    padding:10px;
    margin: auto;
    padding-bottom: 100px;
}

.slider li{
    position: absolute; 
}

.slider img{
    margin: auto;
    height:100%;
    width: 100%;

    vertical-align:top;
}


/* Section 2 -> Catálogo do Prodito */


.catalogo{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,3fr);
    grid-gap: 30px;
    justify-items: center;
    
    border: solid 1px black;

}

.catalogo div img{
    width: 200px;
    
}
.catalogo div p{
    text-align: center;
}


.catalogo div{
    
    border: solid 1px #D3CE3D;
    text-align: center;
}


/*  Footer*/

.social{
    background: #D3CE3D;
    display: flex;
    justify-content: space-around;
}

.social h4{
    padding-bottom: 10px;
}


.social ul img{
    width: 20px;
    
}
.social ul{
    display: flex;
    flex-direction: column;
    line-height: 2.0;

}

.social ul li{
    display: flex;
}

.departamento ul{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
