/* Pre-Formatacao do Código*/
@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family:Voltaire;
}

p {
    line-height:1.6;
    text-align: justify;
    font-size: 14px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img{
    cursor: pointer;
}

/* Header */

.container{
    margin: auto;
    background: #D3CE3D;
    padding: 10px;
    
}

.logo{
    display: flex;
    background-color: #F1EFA5;
    border: solid 1px #cecece;
    border-radius:10px;
    align-items: center;
    padding: 1px;
    cursor: pointer;
}

.logo img{
    padding-right: 5px;

}

.container input{
    padding:auto;
    width:700px;
    border: solid 1px #cecece;
    border-radius: 10px;
}

.p-header{
    display: flex;
    justify-content:space-between;
}

.p-header img {

    width: 20px;
    cursor: pointer;

}

#carrinho{
    width: 30px;
}

.s-header ul{
    display: flex;
    justify-content:space-around;
    margin: 10px 100px 0px 100px;
    
}

li{
    cursor: pointer;
}

/* Section - Navigation */


.p1-section{
    position: absolute;
    display: flex;
    flex-direction:inherit;
    margin: 0px;
    padding: 0px;
    height: 120vh;
    width: 100vw;
    background:linear-gradient(72deg,#fff 1%,#f3f1be 99%)

}

.p-section{
    height:600px;
    width: 800px;
    overflow: hidden;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50% );
    border-radius: 10px;
    

}


/* Section */

section{
    background: #F1EFA5;
}
.slider{
    height: 290px;
    width: 1015px;
    padding:10px;
    margin: auto;
}

.slider li{
    position: absolute; 
}

.slider img{
    margin: auto;
    height:100%;
    width: 100%;

    vertical-align:top;
}



/* .p-section img{
    border-radius: 20px;
} */
/* 
.navigation{
    position: absolute;
    bottom: 200px;
    left: -110px;
    transform: translate(190%);
    display: flex;
    

}

.navigation label{
    width: 70px;
    height: 17px;
    border: 2px solid #cecece;
    margin: 1px;
    border-radius: 5px;
    cursor: pointer;

}

.navigation label:hover{
    background-color: #D3CE3D;
}

.slides{
    display: flex; 
    width: 500%;
    height: 0%;
    
}
.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 0.4s;
}
.slide img{ 
    width: 380%;
    height: 100%; 
}

#slide1:checked ~ .s1{
    margin-left:0;
}

#slide2:checked ~ .s1{
    margin-left:-95%;
} */





