<footer>
    <div class="social">
        <div>
            <h4>Redes Sociais</h4>
            <ul>
                <li><img src="img/instagram-brands (1).svg" alt="Instagram"><a
                        href="https://instagram.com/pet&cia"></a>Instagram</li>
                <li><img src="img/facebook-brands.svg" alt="Facebook"><a
                        href="https://facebook.com/pet&cia"></a>Facebook</li>
                <li><img src="img/twitter-brands.svg" alt="Twitter"><a
                        href="https://twitter.com/pet&cia"></a>Twitter</li>

            </ul>
        </div>


        <div class="enderco">
            <h4>Endereço</h4>
            <p>Rua das Creoulas 456 Recife - PE</p>
            <p>Cep: 50000000</p>
        </div>

        <div class="central">
            <h4>Central do Cliente</h4>
            <ul>
                <li>Pedidos</li>
                <li>Cadastro</li>
                <li>Ouvidoria</li>
            </ul>
        </div>

        <div class="departamento">
            <h4>Departamentos</h4>
            <ul>
                <li><img src="img/dog-solid.svg" alt="Departamento de Cães"></li>
                <li><img src="img/cat-solid.svg" alt="Departamento de Gatos"></li>
                <li><img src="img/fish-solid.svg" alt="Departamento de Peixes"></li>
                <li><img src="img/bird.png" alt="Departamento de Peixes"></li>

            </ul>

        </div>


    </div>



</footer>