<header>
    <nav class="container">
        <section class="p-header">
            <div class="logo">
                <a href="/"><img src="img/paw-solid.svg" alt=""></a>
                <p>Pet & Cia</p>
            </div>

            <input type="text" placeholder="Pesquise seu Produto">

            <% if(typeof user != "undefined"){%>
                <h1>Bem vindo, <%= user.nome %></h1>
                <%} else{   %>

            <button class="logo">
                <img src="img/user-alt-solid.svg" alt="">
                <a href="/users/login">Entre ou Registre-se</a>
            </button>
            <%}  %>
            <a href="/users/pagamento"><img src="img/shopping-cart-solid.svg" alt=" Carrinho de Compras"
                    id="carrinho"></a>
        </section>

        <section class="s-header">
            <ul>
                <li>Produtos</li>
                <li>Serviços</li>
                <li>Contato</li>
                <li>Sobre Nós</li>
                <li>Promoções</li>
            </ul>
        </section>
    </nav>
</header>