<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>

<body>
    <!-- Cabecalho -->
    <%-  include('partials/header.ejs'); %>

    <main>

        <section class="descricao">
            <div>
                <img src="../public/img/Produto-Cachorro" alt="">
            </div>

            <section class="s-descricao">
                <div>
                    <h2>Ração Pedigre Adulto</h2>
                    <p>Código do produto:  00100100102019</p>
                    <p>Descrição: 
                        - Indicada para cães adultos;
                        - Ideal para os pets de pequeno porte;
                        - Grãos adequados que facilitam a mastigação;
                        - Oferece equilíbrio entre os ômegas 3 e 6;
                        - Contém o nível ideal de proteínas e nutrientes,
                        - Disponível em embalagens de 1kg, 3kg e 15kg.
                    </p>    
                </div>
                
                <div class="price"> 
                    <span>R$150,00</span>
                    <a href="Sacola.html"><button>Adicionar ao Carrinho</button></a>
                </div>
                
            </section>
        </section>
        
    </main>



    <%- include('partials/footer.ejs'); %>

</body>

</html>