<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/Registro.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <div class="container">

        <h1>Pet & Cia </h1>
        <div class="head">
            <a href="/"><img src="../img/paw-solid.svg" alt="logo"></a>
            <h3>Registre-se para ter acesso</h3>
        </div>
        <form action="/users/registro" method="POST" class="controle-form">

            <label for="name">Nome</label>
            <input type="text" name="nome">

            <label for="email">Email</label>
            <input type="email" name="email">

            <label for="password">Senha</label>
            <input type="password" name="senha">
            <!--                 
                <label for="password">Confirmar Senha</label>
                <input type="password"> -->
            <button type="submit" class="btn">Cadastrar</button>
            <!-- <p class="texto"><a href="">Voltar</a></p> -->


        </form>


    </div>
</body>

</html>