@import url('https://fonts.googleapis.com/css?family=Muli&display=swap%27');

* {
    box-sizing: border-box;
}

body {
    background-color: #D3CE3D;
    color: #fff;
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh   ;
    overflow: hidden;
    margin: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 5px;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.container img {
    width: 40px;
    margin: 0;
}

.container a {
    text-decoration: none;
    color: #D3CE3D
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: #D3CE3D;
    padding: 10px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}

.btn:focus {
    outline: 0;
}

.btn:hover {
    background-color: #fff
}

.btn:active {
    transform: scale(0.98);
}

.texto {
    margin-top: 30px;
}

.controle-form {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.controle-form input {
    /* background-color: transparent; */
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 10px 0;
    color: #000;
    border-radius: 5px;
    font-size: 20px; 

}

.controle-form input::placeholder {
    font-size: 16px;
    text-align: justify;
}

.controle-form button {
    margin-top: 10px;
}