@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin    : 0px;
    padding   : 0px;
    box-sizing: border-box;
    
}

body {
    margin     : 0px;
    font-family: Poppins;
    margin     : auto;
}

p.a {
    text-align: justify;
    font-size : 14px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    cursor: pointer;
}

.container {
    margin    : auto;
    width     : 100%;
    background: #D3CE3D;
    padding   : 10px;
    border    : solid 1px black;
}

.logo {
    display         : flex;
    background-color: #FFEEAD;
    border          : solid 1px #fff;
    border-radius   : 10px;
    align-items     : center;
    cursor          : pointer;
    padding         : 1px;
}

.logo img {
    padding-right: 5px;
}

.container input {
    padding         : 10px;
    width           : 700px;
    border          : solid 1px #cecece;
    border-radius   : 10px;
    background-color: #FFEEAD;
    font-size       : 14px;
    color           : #000;
    margin          : 10px 0px;
    cursor          : pointer;
    height          : 40px;


}

.p-header {
    display        : flex;
    justify-content: space-between;
    margin-left    : 100px;
}

.p-header img {
    width : 20px;
    cursor: pointer;
}

.container ul {
    display        : flex;
    justify-content: space-between;
    margin         : 10px 100px 0px 100px;
    font-size      : 13px;

}

.container img {
    width          : 25px;
    justify-content: space-between;
}

.nav ul li {

    display        : flex;
    justify-content: space-around;
    align-items    : center;
    /* padding     : 15px; */
    cursor         : pointer;
    font-weight    : 600;
    color          : #000;
}

.nav li:hover {
    background-color: #FFEEAD;
    border-radius   : 3px;
    cursor          : pointer;
}

h3 {
    padding-top: 20px;
    margin-left: 50px;
}

p.b {
    margin-left    : 40px;
    padding        : 10px;
    font-size      : 15px;
    text-decoration: underline;
    cursor         : pointer;
    color          : #8C8C8C;
}

.container2 {
    margin-left     : 50px;
    padding         : 20px;
    width           : 450px;
    margin-top      : 5px;
    background-color: #EBEBEB;
}

p.c {
    color: #CECACA;
}

p.d {
    margin-left    : 40px;
    padding        : 10px;
    text-decoration: underline;
    cursor         : pointer;
    margin-top     : 15px;
    color          : #8C8C8C;
}

.container3 {
    margin-left     : 50px;
    padding         : 20px;
    width           : 450px;
    margin-top      : 5px;
    background-color: #EBEBEB;
}

p.e {
    color: #CECACA;
}

.footer {
    display   : flex;
    margin    : auto;
    height    : 160px;
    background: #D3CE3D;

    border: solid 1px black;
}

.p-footer img {
    width          : 25px;
    justify-content: space-between;
}

.p-footer ul {
    display        : flex;
    justify-content: space-between;
    margin         : center;

}

.p-footer ul li {
    display        : flex;
    font-size      : 12px;
    margin-top     : 15px;
    cursor         : pointer;
    text-decoration: underline;
    margin-left    : 220px;
}

p.f {
    font-size      : 10px;
    line-height    : 10px;
    margin-left    : 255px;
    margin-top     : 26px;
    text-align-last: center;
}

p.g {
    font-size  : 10px;
    margin-left: 450px;
    margin-top : 35px;
}

.f{
    margin-left: 450px;
    margin-top : 35px;
    
}

/* Sacola/Endereco */
.form-p{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.form-p button{
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    width: 200px;
    height: 40px;
    background-color: #D3CE3D;
    border: solid 1px #cecece;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    color: #000;
}

.form-s{
    display:flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}
/* .form-s label{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 2px;
    font-size: 14px;
    color: #000;
} */
.form-s input{
    border: 1px solid #cecece;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #cecece;
    margin-bottom: 10px;

}

.catalogo {
    /* padding: 20px; */
    display              : grid;
    grid-template-columns: repeat(4, 3fr);
    grid-gap             : 30px;
    justify-items        : center;
    margin-top           : 20px;
    margin-bottom        : 20px;
    /* border            : solid 1px; */

}

.catalogo div img {
    width: 200px;

}

.catalogo div p {
    text-align: center;
}


.catalogo div {

    border    : solid 1px #D3CE3D;
    text-align: center;
}

.btn {
    background-color: #b1df0a;
    color           : #fff;
    border          : 0;
    border-radius   : 10px;
    box-shadow      : 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding         : 14px 40px;
    font-size       : 16px;
    cursor          : pointer;
}
