<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/Registro.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <div class="container">

        <h1>Pet & Cia </h1>
        <div class="head">
            <img src="../img/paw-solid.svg" alt="logo">
            <h3>Registre-se para ter acesso</h3>
        </div>
        <form>
            <div class="controle-form">
                <label for="name">Nome</label>
                <input type="text">                
            </div>
            <div class="controle-form">
                <label for="email">Email</label>
                <input type="email">
            </div>
            <div class="controle-form">
                <label for="password">Senha</label>
                <input type="password">
            </div>
            <div class="controle-form">
                <label for="password">Confirmar Senha</label>
                <input type="password">

            </div>
            <div>
                <button class="btn">Criar</button>
            <p class="texto"><a href="Login.html">Voltar</a></p>
            </div>
            
        </form>
       

    </div>
</body>
</html>
