<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Sacola.css">
    <title>Tela de Pagamento</title>
</head>

<body>
    <header>
        <nav class="container">
            <section class="p-header">
                <div class="logo">
                    <img src="img/paw-solid.svg" alt="">
                    <p>Pet & Cia</p>
                </div>
            </section>
            <section class="nav">
                <ul>
                    <li><img src="./img/ep_shopping-bag.svg" alt="Sacola">Sacola</li>
                    <!-- <li><img src="./img/ant-design_user-outlined.svg" alt="Identificação">Identificação</li> -->
                    <li><img src="./img/carbon_delivery.svg" alt="Entrega">Entrega</li>
                    <li><img src="./img/Sinfrao.svg" alt="Pagamento">Pagamento</li>
                </ul>
            </section>
        </nav>
    </header>

    <main>
        
        <section>
            <div>
                <h3>Carrinho de Compras</h3>
            </div>

            <p class="b">Editar sacola</p>
            </div>
            <div class="container2">
                <p class="c">Resumo do pedido</p>
            </div>
        </section>
        <section>
            <p class="d">Alterar endereço</p>
            </div>
            <div class="container3">
                <p class="e">Endereço</p>
            </div>
        </section>
        
    </main>

    <footer>
        <div class="footer">
            <div class="p-footer">
                <ul>
                    <li><img src="./img/Customer Support.svg">SAC</li>
                    <li><img src="./img/WhatsApp.svg">Compre pelo chat online</li>
                    <li><img src="./img/Encrypt.svg">Certificado de segurança</li>
                </ul>
                <p class="f">Preços e condições de pagamento exclusivos para compras via internet, podendo variar nas
                    lojas físicas.<br>
                    Ofertas válidas na compra de até 10 peças de cada produto por cliente, até o término dos nossos
                    estoques para internet.<br>
                    Caso os produtos apresentem divergências de valores, o preço válido é o da Sacola de compras.<br>
                    Vendas sujeitas a análise e confirmação de dados.
                </p>
                <p class="g">Rua das Creolas 456 - CEP - 50000-000 Centro Recife - PE CNPJ: 01987456/0001-02</p>
            </div>
        </div>
        </div>

    </footer>
</body>

</html>